## Numpy

In [29]:
import numpy as np
my_list = [1,2,3,4]
arr1 = np.array(my_list)

arr1, my_list

(array([1, 2, 3, 4]), [1, 2, 3, 4])

In [30]:
arr1 * 10 
# element wise 연산
# 배열 * 스칼라 값 (1개의 값을 스칼라, 여러개의 값은 벡터라고 함. 일반적으로 배열을 벡터라고 한다.)
# numpy에서 벡터 * 스칼라 연산은 벡터의 요소 각각에 스칼라 값을 곱하는 연산을 한다.
# for문을 돌리지 않아도 됨

array([10, 20, 30, 40])

In [31]:
print(my_list * 10) # 연산이 아니라 배열을 10번 반복하는 값이 나온다.

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
my_list2 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

my_list2[1] # 행추출. 열추출은 인덱스로 불가능

[4, 5, 6]

In [33]:
arr2 = np.array(my_list2)
arr2[:,1] # [행 번호, 열 번호]  ,  : => 전체    numpy로 열 추출 가능

array([2, 5, 8])

In [34]:
arr2[:, [0,2]] # 팬시 인덱싱 (띄엄띄엄 추출)

array([[1, 3],
       [4, 6],
       [7, 9]])

In [35]:
arr3 = np.array(
    [
        [
            [1,2,3],
            [4,5,6],
        ],
        [
            [1,2,3],
            [4,5,6],
        ]
    ]
)
arr3

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

<br/>
<br/>
<br/>

## arange 함수를 이용한 배열 생성
range 함수와 다르게 실수 범위도 생성 가능함

In [36]:
range(1,10) # int 정수만 가능
np.arange(0,3,0.5) # 실수도 가능

array([0. , 0.5, 1. , 1.5, 2. , 2.5])

<br/>
<br/>
<br/>
<br/>

## Numpy Array 속성

In [37]:
np.linspace(1, 10, 3) # 수의 범위를 균일하게 나누고자 할 때 사용

array([ 1. ,  5.5, 10. ])

In [38]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [39]:
arr1.ndim, arr2.ndim, arr3.ndim # ndarray의 차원

(1, 2, 3)

In [40]:
arr1.shape # ndarray 크기를 튜플 형태로 나타냄

(4,)

In [41]:
type((3,))

tuple

In [42]:
arr3.shape # 면, 행, 열

(2, 2, 3)

In [43]:
arr3.size

12

In [44]:
np.array([1.0, 2, 3])
# 실수 + 정수 => 실수로 변환

array([1., 2., 3.])

In [45]:
np.array([1.0, 2, '3'])
# 실수 + 문자 => 문자로 변환

array(['1.0', '2', '3'], dtype='<U32')

In [46]:
arr1.dtype, arr2.dtype, arr3.dtype,

(dtype('int32'), dtype('int32'), dtype('int32'))

In [47]:
arr2, arr2.T # 행열 바꾸기

(array([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]),
 array([[1, 4, 7],
        [2, 5, 8],
        [3, 6, 9]]))

In [49]:
arr4 = np.arange(16)
arr4, arr4.shape

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15]),
 (16,))

In [50]:
arr4.reshape(2,4,2), arr4.reshape(2,4,2).shape

(array([[[ 0,  1],
         [ 2,  3],
         [ 4,  5],
         [ 6,  7]],

        [[ 8,  9],
         [10, 11],
         [12, 13],
         [14, 15]]]),
 (2, 4, 2))

<br/>
<br/>
<br/>
<br/>

## Numpy 배열 형태 변경
- 변경 전 데이터 개수와 변경 후 데이터 개수 같아야함.
- reshape 함수를 이용
    - -1은 딱 한번만 사용할 수 있으며, 자동으로 적절한 형태 계산

In [51]:
arr4.reshape(-1,8) # 행 갯수 8개

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [52]:
arr2.dtype

dtype('int32')

<br/>
<br/>
<br/>
<br/>

## Numpy 데이터 유형 변경
이미 만들어진 배열의 데이터 유형을 변경하기 위해 astype 함수 또는 특정 데이터 유형의 이름을 가진 함수 이용

In [53]:
arr2.astype( np.float32 ) # 원본 수정 x, 새로운 배열 반환

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]], dtype=float32)

<br/>
<br/>
<br/>
<br/>

## 아파트 실거래 데이터 읽기

In [21]:
import pandas as pd

apt_price = pd.read_csv(
    './apt_price_2022.csv',
    encoding='cp949',
    skiprows=15,
    thousands=','
)

apt_price

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,1987.0,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,언주로 3,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,언주로 3,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202207,20,74000,3,1997.0,동일로 752,NaN,중개거래,서울 중랑구
16943,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),84.03,202207,27,91500,12,1997.0,동일로 752,NaN,중개거래,서울 중랑구
16944,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202111,4,50000,2,2003.0,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구"
16945,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202204,9,49900,7,2003.0,동일로144길 74,NaN,중개거래,서울 중랑구
16946,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,23,53000,6,2007.0,봉화산로27가길 19,NaN,중개거래,서울 중랑구

In [22]:
apt_price.shape, apt_price.size

((16947, 15), 254205)

In [23]:
apt_price.values # numpy array

array([['서울특별시 강남구 개포동', '658-1', 658.0, ..., nan, '-', '-'],
       ['서울특별시 강남구 개포동', '658-1', 658.0, ..., nan, '중개거래', '서울 강남구'],
       ['서울특별시 강남구 개포동', '658-1', 658.0, ..., nan, '중개거래', '서울 강남구'],
       ...,
       ['서울특별시 중랑구 중화동', '274-51', 274.0, ..., nan, '중개거래',
        '서울 송파구, 서울 중랑구'],
       ['서울특별시 중랑구 중화동', '274-51', 274.0, ..., nan, '중개거래', '서울 중랑구'],
       ['서울특별시 중랑구 중화동', '11-7', 11.0, ..., nan, '중개거래', '서울 중랑구']],
      dtype=object)

In [24]:
평 = apt_price['전용면적(㎡)'] / 3.03
평

0        26.392739
1        26.392739
2        26.392739
3        26.392739
4        26.392739
           ...
16942    19.722772
16943    27.732673
16944    27.950495
16945    27.950495
16946    25.224422
Name: 전용면적(㎡), Length: 16947, dtype: float64

In [27]:
apt_price['거래금액(만원)'] / 평

0        8335.625860
1        8146.179817
2        8335.625860
3        8335.625860
4        8184.069026
            ...
16942    3752.008032
16943    3299.357372
16944    1788.877081
16945    1785.299327
16946    2101.138296
Length: 16947, dtype: float64

In [67]:
apt_price[apt_price['층'] == 2]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,1987.0,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
7,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,74.66,202109,16,253000,2,2020.0,개포로 264,NaN,-,-
19,서울특별시 강남구 개포동,12-2,12.0,2.0,개포자이(12-2),168.42,202202,7,246000,2,2004.0,개포로109길 69,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16900,서울특별시 중랑구 신내동,654,654.0,0.0,진로아파트,134.37,202205,30,109000,2,1995.0,신내로17길 41,NaN,중개거래,서울 중랑구
16901,서울특별시 중랑구 신내동,654,654.0,0.0,진로아파트,134.37,202206,8,110000,2,1995.0,신내로17길 41,NaN,중개거래,서울 중랑구
16907,서울특별시 중랑구 신내동,656,656.0,0.0,화성.두산아파트,66.96,202203,12,71000,2,1995.0,신내로 155,NaN,중개거래,"서울 송파구, 서울 중랑구"
16909,서울특별시 중랑구 신내동,656,656.0,0.0,화성.두산아파트,66.96,202205,9,69000,2,1995.0,신내로 155,NaN,중개거래,"서울 송파구, 서울 중랑구"
16944,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202111,4,50000,2,2003.0,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구"

In [69]:
# 서울시 강동구 암사동 거래정보만 추출
bidx = apt_price['시군구'] == '서울특별시 강동구 암사동'
sum(bidx) # True -> 1 False -> 0

78

In [72]:
apt_price[bidx]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
1625,서울특별시 강동구 암사동,466-3,466.0,3.0,내일쎄닛빌,111.4000,202205,11,72000,9,2007.0,고덕로20나길 49,NaN,직거래,-
1626,서울특별시 강동구 암사동,461,461.0,0.0,대원,59.9000,202201,17,72500,12,1998.0,고덕로 52,NaN,중개거래,"서울 강남구, 서울 강동구"
1627,서울특별시 강동구 암사동,501-4,501.0,4.0,동양넥스빌,84.6800,202205,10,80000,10,1999.0,상암로 41,NaN,중개거래,서울 강동구
1628,서울특별시 강동구 암사동,414-2,414.0,2.0,롯데캐슬퍼스트,59.9900,202109,8,129700,18,2008.0,고덕로 131,NaN,-,-
1629,서울특별시 강동구 암사동,414-2,414.0,2.0,롯데캐슬퍼스트,59.9900,202109,11,125500,3,2008.0,고덕로 131,NaN,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698,서울특별시 강동구 암사동,400,400.0,0.0,현대홈타운,84.9800,202204,20,137500,18,2004.0,고덕로27길 36,NaN,중개거래,서울 강동구
1699,서울특별시 강동구 암사동,400,400.0,0.0,현대홈타운,114.0700,202205,30,155000,11,2004.0,고덕로27길 36,NaN,중개거래,서울 강동구
1700,서울특별시 강동구 암사동,675,675.0,0.0,힐스테이트 강동 리버뷰,84.9979,202203,29,130000,4,2019.0,올림픽로91길 30,NaN,중개거래,서울 강동구
1701,서울특별시 강동구 암사동,675,675.0,0.0,힐스테이트 강동 리버뷰,84.9921,202204,1,164000,23,2019.0,올림픽로91길 30,NaN,중개거래,서울 강동구
1702,서울특별시 강동구 암사동,675,675.0,0.0,힐스테이트 강동 리버뷰,84.9628,202205,6,152000,7,2019.0,올림픽로91길 30,NaN,중개거래,경기 성남분당구

<br/>
<br/>
<br/>
<br/>

## Numpy Indexing

In [61]:
%whos # 변수명 목록과 값을 보여주는 주피터내의 명령어

No variables match your requested type.

### 정수 인덱싱
- 접근하고자 하는 요소의 위치를 이용하여 데이터에 접근
- [행 인덱스, 열 인덱스, ...]

In [7]:
arr5 = np.arange(9).reshape(3, 3)
arr5, arr5[0]

(array([[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]]),
 array([0, 1, 2]))

In [12]:
arr5[1][1], arr5[1, 1]

(4, 4)

### 조건 인덱싱
- 배열에 조건 비교를 하는 경우 Broadcast 연산으로 인해 각 요소별 비교 결과 값을 가지게 됨
- 결과는 항상 1차원 Array가 옴

In [14]:
arr5

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [17]:
bidx = arr5 % 2 == 0
bidx

array([[ True, False,  True],
       [False,  True, False],
       [ True, False,  True]])

In [19]:
arr5[bidx] # True에 위치하는 값을 추출, 1차원 반환

array([0, 2, 4, 6, 8])

### 팬시 인덱싱
- 다른 Array를 이용하여 인덱싱하는 방법
    - 조건 인덱싱도 Boolean Array를 이용하여 인덱싱 하는 팬시 인덱싱의 일종
    - 선택하고자 하는 위치를 Array로 묶어서 데이터에 접근 가능

In [74]:
arr5[0,2], arr5[1,1]

(2, 4)

In [76]:
arr5[[0,1],[2,1]]

array([2, 4])

In [78]:
arr5[0, :], arr5[:, 1] # 1차원

(array([0, 1, 2]), array([1, 4, 7]))

In [80]:
arr5[:2, 1:], arr5[-1:, 1:3] # 2차원

(array([[1, 2],
        [4, 5]]),
 array([[7, 8]]))

<br/>
<br/>
<br/>
<br/>

# Numpy Slicing
- Numpy는 다차원 배열(ndarray)를 염두하고 설계했기 때문에 데이터의 복사를 남발하지 않음
- 원본 배열을 슬라이싱하여 새로운 배열을 만든 경우, 새로운 배열은 값이 복사되지 않고 참조됨
    * 새로운 배열을 수정하면 원본 배열도 수정됨
- 만약 값을 복사하여 저장하고 싶은 경우 copy() 함수를 사용
- 또는 팬시 인덱싱 이용

In [87]:
b = arr5[:, 1]
b[0] = 10
b, arr5[:, 1]

(array([10,  4,  7]), array([10,  4,  7]))

In [93]:
b = arr5[:, 1].copy()
b[0] = 1
b, arr5[:, 1]

(array([1, 4, 7]), array([10,  4,  7]))

<br/>
<br/>
<br/>
<br/>

# Numpy Function

### np.where(조건, [x,y] => 선택사항)
- 조건을 만족하는 요소의 위치를 반환
- x와 y를 지정하는 경우 값이 대체된 배열을 반환
    - x: 요소의 조건의 True 인 경우 지정할 값
    - y: 요소의 조건의 False 인 경우 지정할 값

In [100]:
arr5, np.where(arr5 % 2 == 0)
# [0,0], [0,1], [0,2], [1,1], [2,0], [2,2]

(array([[ 0, 10,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]]),
 (array([0, 0, 0, 1, 2, 2], dtype=int64),
  array([0, 1, 2, 1, 0, 2], dtype=int64)))

In [99]:
np.where(arr5 % 2 == 0, '짝수', '홀수')

array([['짝수', '짝수', '짝수'],
       ['홀수', '짝수', '홀수'],
       ['짝수', '홀수', '짝수']], dtype='<U2')

In [101]:
# 조건에 맞는 항목은 '짝수', 아니면 원래값 유지
np.where(arr5 % 2 == 0, '짝수', arr5)

array([['짝수', '짝수', '짝수'],
       ['3', '짝수', '5'],
       ['짝수', '7', '짝수']], dtype='<U11')

### Statistical Functions
- 배열의 주어진 요소로부터 최소, 최대, 백분위수, 표준편차, 분산 등을 찾는데 유요한 통계 함수가 존재
- 통계 함수는 배열에서 요소별로 작동하며, axis 옵션을 통해 연산 방향을 지정할 수 있음
    - axis 지정 안된 경우 모든 요소의 연산 결과가 반환
    - axis 0 지정된 경우 행과 행의 연산 결과가 반환  (행별 데이터를 읽어서 열별 연산)
    - axis 1 지정된 경우 열과 열의 연산 결과가 반환  (열별 데이터를 읽어서 행별 연산)
    
min, max, mean(평균), median(중앙값), quantile, std, var, corrcodf, argmin, argmax, cumsum, cumprod 등

In [104]:
arr5

array([[ 0, 10,  2],
       [ 3,  4,  5],
       [ 6,  7,  8]])

In [105]:
arr5.sum()

45

In [107]:
arr5.sum(axis = 0), arr5.sum(axis = 1)

(array([ 9, 21, 15]), array([12, 12, 21]))