In [4]:
a = 10000
b = a*10000*10000*10000*10000
print(b)
b*b

100000000000000000000

10000000000000000000000000000000000000000

In [5]:
type(b)

int

In [8]:
myname = "홍길동"
print(myname)

홍길동

In [21]:
i = 100
j = 0b110
j8 = 0o760
j16 = 0x9abcdef
print(i,j,j8,j16)

100 6 496 162254319

In [32]:
today = 20220801
year =  today // 10000
month = today % 10000 // 100
day = today % 10000 % 100
year,month,day

(2022, 8, 1)

In [36]:
int("1"+"2")
# "1"+2 문자열끼리 더하면 문자열 결합, 문자열 + 숫자는 오류

12

In [43]:

bool(" ")

True

In [44]:
s1 = "홍"
s1

'홍'

In [49]:
# \ -> 연장 기호, 줄바꿈했을 때 이어줌
poem = "구름에 달가듯이 가는 나그네\
길은 외줄기 남도삼백리"
poem

'구름에 달가듯이 가는 나그네길은 외줄기 남도삼백리'

In [50]:
poem = """구름에 달가듯이 가는 나그네
길은 외줄기 남도삼백리
"""
poem

'구름에 달가듯이 가는 나그네\n길은 외줄기 남도삼백리\n'

In [ ]:
# 연습문제 1
person = "210101-1234567"
gender = person[7]
print(gender)

In [85]:
# 연습문제 2
s = "20210101Sunny"
date = s[:8]
weather = s[8:]
print(date,weather)

20210101 Sunny

In [2]:
name = "홍길동"
age = 30
print(name + '은 ' + str(age))

홍길동은 30

In [66]:
print("%s는 %s살" % (name,age))
print("%s는 %d살" % (name,age))

홍길동는 30살
홍길동는 30살

In [78]:
print("{0}는 {1}살 {0}은 젊어요".format(name,age))

홍길동는 30살 홍길동은 젊어요

In [83]:
print(f"{name}은 {age}살. {2022-age}년생")

홍길동은 30살. 1992년생

In [84]:
f"{name}의 길이는 {len(name)}"

'홍길동의 길이는 3'

In [3]:
"홍길동12".isalnum()

True

In [5]:
"홍길동 김길동".index("길동",3)

5

In [6]:
"홍길동".startswith("김")

False

In [8]:
"     abc def    ".strip()

'abc def'

In [19]:
print(name,age, sep="__")

홍길동__30

In [25]:
a = 100000
b = 1000000
print(a, end="--")
print(b)

100000--1000000

In [1]:
ans = input("이름을 입력하세요: ")

이름을 입력하세요: ㅎㄹ

In [2]:
print(ans)

ㅎㄹ

In [3]:
a = 90
b = 70

# list
class1 = [70,80,90]

In [42]:
import random
lotto = [
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45)
]
lotto

[24, 30, 29, 32, 28, 17]

In [43]:
ar1 = [70,80,90]
ar2 = [80,90,60]
ar3 = ar1 + ar2
ar3

[70, 80, 90, 80, 90, 60]

In [44]:
a = [1,2,3]
b = 2
a * b

[1, 2, 3, 1, 2, 3]

In [45]:
a = [1,2,3,4,5]
a
a[0]
a[-1]

5

In [47]:
ar3[1] = 100
ar3

[70, 100, 90, 80, 90, 60]