In [5]:
import pandas as pd

apt_price = pd.read_csv(
    "./data/apt_price_2022_1.csv",
    encoding="cp949", #한글문자셋 지정
    skiprows = 15, #앞부분 15줄 설명부분 삭제
    thousands = ",", #숫자사이 ,를 삭제
)

apt_price

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,1987.0,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,언주로 3,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,언주로 3,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16994,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202207,20,74000,3,1997.0,동일로 752,NaN,중개거래,서울 중랑구
16995,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),84.03,202207,27,91500,12,1997.0,동일로 752,NaN,중개거래,서울 중랑구
16996,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202111,4,50000,2,2003.0,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구"
16997,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202204,9,49900,7,2003.0,동일로144길 74,NaN,중개거래,서울 중랑구
16998,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,23,53000,6,2007.0,봉화산로27가길 19,NaN,중개거래,서울 중랑구

In [2]:
# 데이터셋 구조
apt_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16999 entries, 0 to 16998
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       16999 non-null  object
 1   번지        16995 non-null  object
 2   본번        16998 non-null  float64
 3   부번        16998 non-null  float64
 4   단지명       16999 non-null  object
 5   전용면적(㎡)   16999 non-null  float64
 6   계약년월      16999 non-null  int64
 7   계약일       16999 non-null  int64
 8   거래금액(만원)  16999 non-null  int64
 9   층         16999 non-null  int64
 10  건축년도      16997 non-null  float64
 11  도로명       16999 non-null  object
 12  해제사유발생일   671 non-null    float64
 13  거래유형      16999 non-null  object
 14  중개사소재지    16999 non-null  object
dtypes: float64(5), int64(4), object(6)
memory usage: 1.9+ MB

In [3]:
# 데이터크기
apt_price.shape

(16999, 15)

In [4]:
pd.read_csv?

In [19]:
apt_price["시군구"].str.split()
# str을 통해서 split하면 내부적으로 스플릿을 반복실행, 
# 그 결과를 시리즈로 모아서 반복실행 시켜줌 
# 실행 결과도 시리즈

0        [서울특별시, 강남구, 개포동]
1        [서울특별시, 강남구, 개포동]
2        [서울특별시, 강남구, 개포동]
3        [서울특별시, 강남구, 개포동]
4        [서울특별시, 강남구, 개포동]
               ...
16994    [서울특별시, 중랑구, 중화동]
16995    [서울특별시, 중랑구, 중화동]
16996    [서울특별시, 중랑구, 중화동]
16997    [서울특별시, 중랑구, 중화동]
16998    [서울특별시, 중랑구, 중화동]
Name: 시군구, Length: 16999, dtype: object

In [26]:
apt_price["구"] = apt_price["시군구"].str.split().str[1] #구만 모아서 보여줌
apt_price["동"] = apt_price["시군구"].str.split().str[2] #동만 모아서 보여줌

# 전용면적을 평 변환
apt_price["평"] = apt_price["전용면적(㎡)"] / 3.03

# 거래금액 단위를 억원으로 변환
apt_price["거래금액_억원"] = apt_price["거래금액(만원)"] / 10000

# 계약년월 -> 게약년, 계약월로 분리
apt_price["계약년"] = apt_price["계약년월"] // 100 #100으로 나눠서 몫 추출
apt_price["계약월"] = apt_price["계약년월"] % 100 #100으로 나눠서 나머지 추출

apt_price.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,도로명,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,...,언주로 3,NaN,-,-,강남구,개포동,26.392739,22.0,2021,9
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,...,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,21.5,2021,12
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,...,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,22.0,2022,4
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,...,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,22.0,2022,4
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,...,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,21.6,2022,5

In [31]:
# 평정보를 이용하여 평형정보 생성
# 10평이하, 10평대, 20평대, 30평대, 40평대, 40평이상

apt_price["평형"] = pd.cut(
    apt_price["평"],
    bins=[0,10,20,30,40,50,1000],
    labels = "10평이하,10평대,20평대,30평대, 40평대, 40평이상".split(",")
)
apt_price.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,...,NaN,-,-,강남구,개포동,26.392739,22.0,2021,9,20평대
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,...,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,21.5,2021,12,20평대
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,...,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,22.0,2022,4,20평대
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,...,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,22.0,2022,4,20평대
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,...,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,21.6,2022,5,20평대

In [33]:
# 요일 추출
apt_price["계약년월"].astype(str) + apt_price["계약일"].astype(str)
# 계약일이 한자릿수인경우 밑에서 인식못함

0         2021092
1         2021124
2        20220412
3        20220421
4        20220527
           ...
16994    20220720
16995    20220727
16996     2021114
16997     2022049
16998    20220423
Length: 16999, dtype: object

In [35]:
pd.to_datetime(
    apt_price["계약년월"].astype(str) + apt_price["계약일"].astype(str),
    format='%Y%m%d'
)
#format주면 정상 인식

0       2021-09-02
1       2021-12-04
2       2022-04-12
3       2022-04-21
4       2022-05-27
           ...
16994   2022-07-20
16995   2022-07-27
16996   2021-11-04
16997   2022-04-09
16998   2022-04-23
Length: 16999, dtype: datetime64[ns]

In [ ]:
#ex :-> df1.drop(1)
#  원본 변경이 되면 결과에 아무것도 안나옴
#  원본 변경이 되면 결과가 나옴
#  drop은 copy된 결과가 나오는 것임
apt_price.drop(1)

In [40]:
apt_price.drop([1,3]) 
# [ ] 해줘야함. 넘기는 데이터는 1개이기떄문에 묶어주기.
# 팬시인덱싱 형태로 넘겨주기


apt_price.drop( apt_price.index[0:20]) 
# = apt_price.drop( range(20) )

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형
20,서울특별시 강남구 개포동,12-2,12.0,2.0,개포자이(12-2),170.32,202207,27,303000,11,...,NaN,중개거래,서울 강남구,강남구,개포동,56.211221,30.30,2022,7,40평이상
21,서울특별시 강남구 개포동,187,187.0,0.0,개포주공5단지,83.17,202110,6,279500,1,...,NaN,-,-,강남구,개포동,27.448845,27.95,2021,10,20평대
22,서울특별시 강남구 개포동,187,187.0,0.0,개포주공5단지,83.17,202110,31,285000,2,...,NaN,-,-,강남구,개포동,27.448845,28.50,2021,10,20평대
23,서울특별시 강남구 개포동,185,185.0,0.0,개포주공6단지,83.21,202201,15,280000,8,...,NaN,중개거래,서울 강남구,강남구,개포동,27.462046,28.00,2022,1,20평대
24,서울특별시 강남구 개포동,185,185.0,0.0,개포주공6단지,73.02,202203,18,270000,5,...,NaN,중개거래,서울 강남구,강남구,개포동,24.099010,27.00,2022,3,20평대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16994,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202207,20,74000,3,...,NaN,중개거래,서울 중랑구,중랑구,중화동,19.722772,7.40,2022,7,10평대
16995,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),84.03,202207,27,91500,12,...,NaN,중개거래,서울 중랑구,중랑구,중화동,27.732673,9.15,2022,7,20평대
16996,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202111,4,50000,2,...,NaN,중개거래,"서울 송파구, 서울 중랑구",중랑구,중화동,27.950495,5.00,2021,11,20평대
16997,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202204,9,49900,7,...,NaN,중개거래,서울 중랑구,중랑구,중화동,27.950495,4.99,2022,4,20평대
16998,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,23,53000,6,...,NaN,중개거래,서울 중랑구,중랑구,중화동,25.224422,5.30,2022,4,20평대

In [43]:
'''
apt_price.drop( "번지" ) 
KeyError: "['번지'] not found in axis"
찾는 axis값이 없어서 오류!
'''

apt_price.drop( "번지", axis=1 ) 
apt_price.drop(["번지", "본번", "부번"], axis=1 ) 
# 얘의 결과는 복사본임. 1회성으로 사라지는 데이터.
# 원본에 저장하려면 변수에 저장!
# 여러개를 삭제,수정 등 여러개 처리하고 싶으면 꼭 [ ] 묶어라

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,1987.0,언주로 3,NaN,-,-,강남구,개포동,26.392739,22.00,2021,9,20평대
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,21.50,2021,12,20평대
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,22.00,2022,4,20평대
3,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,22.00,2022,4,20평대
4,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,21.60,2022,5,20평대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16994,서울특별시 중랑구 중화동,한신아파트(103~109),59.76,202207,20,74000,3,1997.0,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,19.722772,7.40,2022,7,10평대
16995,서울특별시 중랑구 중화동,한신아파트(103~109),84.03,202207,27,91500,12,1997.0,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,27.732673,9.15,2022,7,20평대
16996,서울특별시 중랑구 중화동,한영(101),84.69,202111,4,50000,2,2003.0,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구",중랑구,중화동,27.950495,5.00,2021,11,20평대
16997,서울특별시 중랑구 중화동,한영(101),84.69,202204,9,49900,7,2003.0,동일로144길 74,NaN,중개거래,서울 중랑구,중랑구,중화동,27.950495,4.99,2022,4,20평대
16998,서울특별시 중랑구 중화동,현대휴앤미(102동),76.43,202204,23,53000,6,2007.0,봉화산로27가길 19,NaN,중개거래,서울 중랑구,중랑구,중화동,25.224422,5.30,2022,4,20평대

In [44]:
apt_price2 = apt_price.drop(["번지", "본번", "부번"], axis=1 ) 
apt_price2

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,1987.0,언주로 3,NaN,-,-,강남구,개포동,26.392739,22.00,2021,9,20평대
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,21.50,2021,12,20평대
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,22.00,2022,4,20평대
3,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,22.00,2022,4,20평대
4,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.392739,21.60,2022,5,20평대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16994,서울특별시 중랑구 중화동,한신아파트(103~109),59.76,202207,20,74000,3,1997.0,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,19.722772,7.40,2022,7,10평대
16995,서울특별시 중랑구 중화동,한신아파트(103~109),84.03,202207,27,91500,12,1997.0,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,27.732673,9.15,2022,7,20평대
16996,서울특별시 중랑구 중화동,한영(101),84.69,202111,4,50000,2,2003.0,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구",중랑구,중화동,27.950495,5.00,2021,11,20평대
16997,서울특별시 중랑구 중화동,한영(101),84.69,202204,9,49900,7,2003.0,동일로144길 74,NaN,중개거래,서울 중랑구,중랑구,중화동,27.950495,4.99,2022,4,20평대
16998,서울특별시 중랑구 중화동,현대휴앤미(102동),76.43,202204,23,53000,6,2007.0,봉화산로27가길 19,NaN,중개거래,서울 중랑구,중랑구,중화동,25.224422,5.30,2022,4,20평대

In [45]:
apt_price2.drop("전용면적(㎡)", axis=1, inplace=True)
# 원본삭제라서 결과 안나옴

In [46]:
apt_price2.drop("전용면적(㎡)", axis=1, inplace=True)
# KeyError: "['전용면적(㎡)'] not found in axis"
# 또 하면 이미 삭제된 행이라 찾을수 없다고 오류 출력

KeyError: "['전용면적(㎡)'] not found in axis"

In [47]:
# 결측치 처리
apt_price.isna().sum() # True-> 1, False-> 0

시군구             0
번지              4
본번              1
부번              1
단지명             0
전용면적(㎡)         0
계약년월            0
계약일             0
거래금액(만원)        0
층               0
건축년도            2
도로명             0
해제사유발생일     16328
거래유형            0
중개사소재지          0
구               0
동               0
평               0
거래금액_억원         0
계약년             0
계약월             0
평형              0
dtype: int64

In [51]:
apt_price["단지명"].str.contains("은마").sum()

18

In [55]:
cond = apt_price["단지명"].str.contains("은마")
apt_price[ cond ]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형
277,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.43,202111,15,282000,5,...,NaN,중개거래,서울 강남구,강남구,대치동,27.864686,28.20,2021,11,20평대
278,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202111,24,263500,11,...,NaN,중개거래,서울 강남구,강남구,대치동,25.343234,26.35,2021,11,20평대
279,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202201,11,249000,9,...,NaN,중개거래,"서울 강남구, 서울 동작구",강남구,대치동,25.343234,24.90,2022,1,20평대
280,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202202,8,214000,1,...,NaN,중개거래,서울 강남구,강남구,대치동,25.343234,21.40,2022,2,20평대
281,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.43,202202,22,255000,4,...,NaN,중개거래,서울 강남구,강남구,대치동,27.864686,25.50,2022,2,20평대
282,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202203,17,228000,2,...,NaN,중개거래,서울 강남구,강남구,대치동,25.343234,22.80,2022,3,20평대
283,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.43,202204,14,265000,7,...,NaN,중개거래,서울 강남구,강남구,대치동,27.864686,26.50,2022,4,20평대
284,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202204,23,245000,1,...,NaN,중개거래,서울 강남구,강남구,대치동,25.343234,24.50,2022,4,20평대
285,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.43,202204,28,262500,2,...,NaN,중개거래,서울 강남구,강남구,대치동,27.864686,26.25,2022,4,20평대
286,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.43,202204,28,262500,2,...,20220624.0,중개거래,서울 강남구,강남구,대치동,27.864686,26.25,2022,4,20평대
287,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.43,202204,28,262500,2,...,20220624.0,중개거래,서울 강남구,강남구,대치동,27.864686,26.25,2022,4,20평대
288,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202205,11,250000,6,...,NaN,중개거래,서울 강남구,강남구,대치동,25.343234,25.00,2022,5,20평대
289,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.43,202205,20,277000,13,...,NaN,중개거래,"경기 성남분당구, 서울 강남구",강남구,대치동,27.864686,27.70,2022,5,20평대
290,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202205,25,250000,2,...,NaN,중개거래,서울 강남구,강남구,대치동,25.343234,25.00,2022,5,20평대
291,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202205,31,254000,8,...,NaN,중개거래,서울 강남구,강남구,대치동,25.343234,25.40,2022,5,20평대
292,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202207,7,240000,3,...,NaN,중개거래,서울 강남구,강남구,대치동,25.343234,24.00,2022,7,20평대
293,서울특별시 강남구 대치동,316,316.0,0.0,은마,76.79,202207,8,248000,8,...,NaN,중개거래,서울 강남구,강남구,대치동,25.343234,24.80,2022,7,20평대
294,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.43,202208,10,257000,5,...,NaN,중개거래,서울 강남구,강남구,대치동,27.864686,25.70,2022,8,20평대

In [64]:
# 문자열안에 은마라는 단어가 포함되어있느냐
apt_price["단지명"].str.contains("은마")

# 문자열이 은마라는 단어로 시작하느냐
apt_price["단지명"].str.startswith("은마")

# 문자열이 은마라는 단어로 끝나느냐
apt_price["단지명"].str.endswith("은마")

# 단지명 안에 문자열의 길이가 2자리냐
apt_price["단지명"].str.len()==2

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형
116,서울특별시 강남구 논현동,216-1,216.0,1.0,두영,84.840,202111,2,73000,4,...,20211231.0,직거래,-,강남구,논현동,28.000000,7.30,2021,11,20평대
173,서울특별시 강남구 논현동,107-44,107.0,44.0,우민,74.758,202205,19,135000,4,...,NaN,중개거래,서울 강남구,강남구,논현동,24.672607,13.50,2022,5,20평대
174,서울특별시 강남구 논현동,194-22,194.0,22.0,이산,64.230,202112,8,60000,5,...,NaN,중개거래,서울 강남구,강남구,논현동,21.198020,6.00,2021,12,20평대
175,서울특별시 강남구 논현동,194-22,194.0,22.0,이산,46.060,202203,2,31000,3,...,NaN,중개거래,서울 강남구,강남구,논현동,15.201320,3.10,2022,3,10평대
277,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.430,202111,15,282000,5,...,NaN,중개거래,서울 강남구,강남구,대치동,27.864686,28.20,2021,11,20평대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16880,서울특별시 중랑구 신내동,783,783.0,0.0,성원,84.320,202206,14,71000,9,...,NaN,중개거래,서울 중랑구,중랑구,신내동,27.828383,7.10,2022,6,20평대
16881,서울특별시 중랑구 신내동,783,783.0,0.0,성원,84.320,202208,5,70000,15,...,NaN,중개거래,서울 중랑구,중랑구,신내동,27.828383,7.00,2022,8,20평대
16882,서울특별시 중랑구 신내동,783,783.0,0.0,성원,84.320,202208,7,72500,20,...,NaN,중개거래,서울 중랑구,중랑구,신내동,27.828383,7.25,2022,8,20평대
16940,서울특별시 중랑구 신내동,408-2,408.0,2.0,원당,63.000,202203,1,41000,2,...,NaN,중개거래,서울 중랑구,중랑구,신내동,20.792079,4.10,2022,3,20평대
16941,서울특별시 중랑구 신내동,408-2,408.0,2.0,원당,63.000,202203,5,39000,5,...,NaN,중개거래,서울 중랑구,중랑구,신내동,20.792079,3.90,2022,3,20평대

In [66]:
apt_price.isna().sum()

시군구             0
번지              4
본번              1
부번              1
단지명             0
전용면적(㎡)         0
계약년월            0
계약일             0
거래금액(만원)        0
층               0
건축년도            2
도로명             0
해제사유발생일     16328
거래유형            0
중개사소재지          0
구               0
동               0
평               0
거래금액_억원         0
계약년             0
계약월             0
평형              0
dtype: int64

In [75]:
# 건축년도가 결측치인 아파트 거래정보 추출
apt_price[apt_price["건축년도"].isna()]
# = apt_price.loc[apt_price["건축년도"].isna()]
# loc를 쓰는게 좀더 표준화 되어있음



#건축년도 평균을 배정

# apt_price["건축년도"].mean().astype("int32")
# AttributeError: 'float' object has no attribute 'astype' 
# 이미 정수라서 오류남

평균건축년도 = int(apt_price["건축년도"].mean())
apt_price["건축년도"].fillna( 평균건축년도 )
apt_price["건축년도"].isna().sum() # 결과 : 2 -> 원본에 반영이 안되었다

2

In [76]:
평균건축년도 = int(apt_price["건축년도"].mean())
apt_price["건축년도"].fillna( 평균건축년도, inplace=True )
apt_price["건축년도"].isna().sum() # 결과 : 0 -> 원본에 반영이 되었다

0

In [78]:
apt_price.info()
# 10  건축년도      16999 non-null  float64 
# 건축년도는 위에서 결측치를 평균값으로 다 대체해서 변환이 쉽다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16999 entries, 0 to 16998
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       16999 non-null  object
 1   번지        16995 non-null  object
 2   본번        16998 non-null  float64
 3   부번        16998 non-null  float64
 4   단지명       16999 non-null  object
 5   전용면적(㎡)   16999 non-null  float64
 6   계약년월      16999 non-null  int64
 7   계약일       16999 non-null  int64
 8   거래금액(만원)  16999 non-null  int64
 9   층         16999 non-null  int64
 10  건축년도      16999 non-null  float64
 11  도로명       16999 non-null  object
 12  해제사유발생일   671 non-null    float64
 13  거래유형      16999 non-null  object
 14  중개사소재지    16999 non-null  object
 15  구         16999 non-null  object
 16  동         16999 non-null  object
 17  평         16999 non-null  float64
 18  거래금액_억원   16999 non-null  float64
 19  계약년       16999 non-null  int64
 20  계약월       16999 non-null  int64
 21  평형        16999 non-null  category
dtypes: category(1), float64(7), int64(6), object(8)
memory usage: 2.7+ MB

0        1987
1        1987
2        1987
3        1987
4        1987
         ...
16994    1997
16995    1997
16996    2003
16997    2003
16998    2007
Name: 건축년도, Length: 16999, dtype: int32

In [80]:
apt_price["건축년도"] = apt_price["건축년도"].astype("int32")
# astype에는 inplace 옵션이 없음 (tab눌러서 확인해보면 알수있음)

In [81]:
apt_price["건축년도"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 16999 entries, 0 to 16998
Series name: 건축년도
Non-Null Count  Dtype
--------------  -----
16999 non-null  int32
dtypes: int32(1)
memory usage: 66.5 KB

In [82]:
apt_price2.isna().sum()
# apt_price2는 복사본인데 건축년도 결측치를 평균으로 채워주기 전에 복사해서 
# 그대로 결측치가 남아있음

시군구             0
단지명             0
계약년월            0
계약일             0
거래금액(만원)        0
층               0
건축년도            2
도로명             0
해제사유발생일     16328
거래유형            0
중개사소재지          0
구               0
동               0
평               0
거래금액_억원         0
계약년             0
계약월             0
평형              0
dtype: int64

In [83]:
pd.to_numeric( apt_price2["건축년도"])

0        1987.0
1        1987.0
2        1987.0
3        1987.0
4        1987.0
          ...
16994    1997.0
16995    1997.0
16996    2003.0
16997    2003.0
16998    2007.0
Name: 건축년도, Length: 16999, dtype: float64

In [84]:
apt_price2["건축년도"].astype("int32")
# IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer
# 결측치 떄문에 정수로는 변환이 안돼요~

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [86]:
pd.to_numeric?
'''
Signature: pd.to_numeric(arg, errors='raise', downcast=None)

Convert argument to a numeric type.
The default return dtype is `float64` or `int64`
  depending on the data supplied.
Use the `downcast` parameter
  to obtain other dtypes.
'''

'\nConvert argument to a numeric type.\n\nThe default return dtype is `float64` or `int64`\ndepending on the data supplied.\n'

In [88]:
pd.to_numeric( apt_price2["건축년도"], downcast="int64")
# 교재엔 안나오는데 ? 보고 해보려했는데 오류남
# ValueError: invalid downcasting method provided
# 자동으로 배정받게 해주자

ValueError: invalid downcasting method provided

In [91]:
apt_price2["건축년도"].astype("float32")
# 결측치 때문에 float32로만 변경 가능!

0        1987.0
1        1987.0
2        1987.0
3        1987.0
4        1987.0
          ...
16994    1997.0
16995    1997.0
16996    2003.0
16997    2003.0
16998    2007.0
Name: 건축년도, Length: 16999, dtype: float32

In [92]:
pd.to_numeric( apt_price2["건축년도"], downcast="integer")
# downcast에 옵션을 int32,64말고 integer로 주면 가능!

0        1987.0
1        1987.0
2        1987.0
3        1987.0
4        1987.0
          ...
16994    1997.0
16995    1997.0
16996    2003.0
16997    2003.0
16998    2007.0
Name: 건축년도, Length: 16999, dtype: float64

In [100]:
def pp(x):
    if x < 10 : # x는 숫자가 넘어옴
        return "아주 소형"
    elif x < 20:
        return "소형"
    else :
        return "일반"

apt_price["평"].apply( pp )

# series를 보면 s.replace 리플레이스라는 함수를 이용해서 변환하기도 함
# replace 함수는 특정 값일 경우에만 바꿀수 있음 (단점)
# s.replae({ 5:"a" }) (5=값)
# 범위를 이용한 변환을 할때는 apply를 이용한 if문을 작성하자

0        일반
1        일반
2        일반
3        일반
4        일반
         ..
16994    소형
16995    일반
16996    일반
16997    일반
16998    일반
Name: 평, Length: 16999, dtype: object

In [103]:
# 평 정보를 평형으로 전환을 apply() 사용
apt_price["평"].describe() # 다양한 통계량을 요약

def 평형변환(x):
    if x<10:
        return "10평이하"
    if x<20:
        return "10평대"
    if x<30:
        return "20평대"
    if x<40:
        return "30평대"
    if x<50:
        return "40평대"
    if x>50:
        return "40평이상"
    
# elif로 안써도 됨. return하면 끝나니까 if로 한거임
# return말고 변수를 넣는다거나 그러면 곤란쓰. 그럴떄 elif 사용 ㄱㄱ

apt_price["평"].apply( 평형변환 )

0        20평대
1        20평대
2        20평대
3        20평대
4        20평대
         ...
16994    10평대
16995    20평대
16996    20평대
16997    20평대
16998    20평대
Name: 평, Length: 16999, dtype: object

In [111]:
# 구별,평형별 평균 거래가
apt_price.groupby(["구", "평형"])["거래금액_억원"].mean()

구    평형
강남구  10평이하      3.386533
     10평대      10.526982
     20평대      22.911911
     30평대      28.727660
      40평대     33.534765
                 ...
중랑구  10평대       5.636825
     20평대       7.578161
     30평대      10.510000
      40평대     10.523889
      40평이상    20.800000
Name: 거래금액_억원, Length: 150, dtype: float64

In [117]:
#pd.set_option('display.max_rows', None) 
# None자리에 숫자를 넣으면 그 숫자 줄만큼 보여주겠다. 나머진 ...으로
pd.set_option('display.max_rows', 150)
apt_price.groupby(["구","평형"])["거래금액_억원"].mean()

구     평형
강남구   10평이하      3.386533
      10평대      10.526982
      20평대      22.911911
      30평대      28.727660
       40평대     33.534765
       40평이상    43.905419
강동구   10평이하      1.525951
      10평대       9.478070
      20평대      11.987405
      30평대      14.276047
       40평대     15.347273
       40평이상    19.150000
강북구   10평이하      1.247259
      10평대       5.984630
      20평대       7.398876
      30평대       9.581905
       40평대      8.661818
       40평이상     7.550000
강서구   10평이하      1.905146
      10평대       6.595158
      20평대       8.609787
      30평대      11.707488
       40평대     14.007895
       40평이상    14.681818
관악구   10평이하      1.616651
      10평대       6.678855
      20평대       8.665799
      30평대      10.371538
       40평대     13.460000
       40평이상    15.495000
광진구   10평이하      1.477543
      10평대       9.660400
      20평대      13.166971
      30평대      15.423222
       40평대     18.060196
       40평이상    26.055714
구로구   10평이하      1.242462
      10평대       5.159679
      20평대       8.247003
      30평대      10.765294
       40평대     12.141000
       40평이상    16.450000
금천구   10평이하      1.374714
      10평대       6.207305
      20평대       7.372843
      30평대       7.770000
       40평대     11.116000
       40평이상          NaN
노원구   10평이하      2.039186
      10평대       6.269091
      20평대       8.655240
      30평대      11.192758
       40평대     11.536800
       40평이상          NaN
도봉구   10평이하      1.595956
      10평대       5.210527
      20평대       6.848740
      30평대      10.478000
       40평대     11.126923
       40평이상    10.214286
동대문구  10평이하      1.884831
      10평대       8.089345
      20평대      10.017719
      30평대      10.443654
       40평대     14.317500
       40평이상    13.116667
동작구   10평이하      2.349505
      10평대       9.826097
      20평대      12.234032
      30평대      14.491200
       40평대     16.851786
       40평이상    18.158571
마포구   10평이하      3.236152
      10평대       9.647245
      20평대      13.279586
      30평대      16.029145
       40평대     19.153182
       40평이상    24.223333
서대문구  10평이하      2.085000
      10평대       8.022215
      20평대      10.327289
      30평대      11.505000
       40평대     10.963667
       40평이상    17.340000
서초구   10평이하      3.714549
      10평대       9.724639
      20평대      25.240367
      30평대      30.079490
       40평대     35.152692
       40평이상    34.436485
성동구   10평이하      3.862931
      10평대      11.903274
      20평대      15.159451
      30평대      17.528939
       40평대     26.982143
       40평이상    55.200000
성북구   10평이하      1.359643
      10평대       7.884750
      20평대       9.486037
      30평대      11.373561
       40평대     12.170000
       40평이상    13.277778
송파구   10평이하      4.455567
      10평대      10.945817
      20평대      18.103159
      30평대      20.176462
       40평대     25.085597
       40평이상    24.688182
양천구   10평이하      1.420714
      10평대       7.480595
      20평대       9.933053
      30평대      14.859844
       40평대     19.406429
       40평이상    24.522727
영등포구  10평이하      1.438370
      10평대       8.312646
      20평대      11.646294
      30평대      17.674884
       40평대     22.706444
       40평이상    29.688000
용산구   10평이하      3.077742
      10평대      12.704533
      20평대      16.048125
      30평대      26.548390
       40평대     23.693286
       40평이상    49.722814
은평구   10평이하      2.867503
      10평대       6.800036
      20평대       8.298199
      30평대      10.962106
       40평대      9.981094
       40평이상    12.812500
종로구   10평이하      2.264765
      10평대       7.289538
      20평대      13.321837
      30평대      14.271667
       40평대     17.537500
       40평이상    18.151667
중구    10평이하      2.215113
      10평대       6.983660
      20평대      12.034902
      30평대      14.462500
       40평대     17.510714
       40평이상    22.305556
중랑구   10평이하      2.487438
      10평대       5.636825
      20평대       7.578161
      30평대      10.510000
       40평대     10.523889
       40평이상    20.800000
Name: 거래금액_억원, dtype: float64

In [119]:
# 구별 평균 거래금액
apt_price.pivot_table(
    index="구",
    values="거래금액_억원"
) # 통계옵션 안주면 기본 통계는 평균

        거래금액_억원
구
강남구   22.193612
강동구    9.044316
강북구    6.581244
강서구    7.096686
관악구    6.790321
광진구   11.956965
구로구    5.742799
금천구    5.873728
노원구    7.084106
도봉구    5.992078
동대문구   7.605241
동작구    9.598703
마포구   11.633624
서대문구   9.000678
서초구   21.697830
성동구   15.076022
성북구    8.681004
송파구   15.510780
양천구   10.063621
영등포구   9.192738
용산구   23.377161
은평구    7.003904
종로구    7.448088
중구     8.433707
중랑구    5.651345

In [120]:
# 구별 평균 거래금액
apt_price.pivot_table(
    columns="구",
    values="거래금액_억원"
) # 통계옵션 안주면 기본 통계는 평균

구,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,도봉구,...,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구
거래금액_억원,22.193612,9.044316,6.581244,7.096686,6.790321,11.956965,5.742799,5.873728,7.084106,5.992078,...,15.076022,8.681004,15.51078,10.063621,9.192738,23.377161,7.003904,7.448088,8.433707,5.651345

In [124]:
# 구별, 평형별 평균 거래금액
apt_price.pivot_table(
    index=["구","평형"],
    values="거래금액_억원"
)

#index 옵션에 여러개를 넣어주면 복잡해짐
# 그래서 이렇게 하기
apt_price.pivot_table(
    index="구",
    columns="평형",
    values="거래금액_억원"
)

평형       10평이하       10평대       20평대       30평대       40평대      40평이상
구
강남구   3.386533  10.526982  22.911911  28.727660  33.534765  43.905419
강동구   1.525951   9.478070  11.987405  14.276047  15.347273  19.150000
강북구   1.247259   5.984630   7.398876   9.581905   8.661818   7.550000
강서구   1.905146   6.595158   8.609787  11.707488  14.007895  14.681818
관악구   1.616651   6.678855   8.665799  10.371538  13.460000  15.495000
광진구   1.477543   9.660400  13.166971  15.423222  18.060196  26.055714
구로구   1.242462   5.159679   8.247003  10.765294  12.141000  16.450000
금천구   1.374714   6.207305   7.372843   7.770000  11.116000        NaN
노원구   2.039186   6.269091   8.655240  11.192758  11.536800        NaN
도봉구   1.595956   5.210527   6.848740  10.478000  11.126923  10.214286
동대문구  1.884831   8.089345  10.017719  10.443654  14.317500  13.116667
동작구   2.349505   9.826097  12.234032  14.491200  16.851786  18.158571
마포구   3.236152   9.647245  13.279586  16.029145  19.153182  24.223333
서대문구  2.085000   8.022215  10.327289  11.505000  10.963667  17.340000
서초구   3.714549   9.724639  25.240367  30.079490  35.152692  34.436485
성동구   3.862931  11.903274  15.159451  17.528939  26.982143  55.200000
성북구   1.359643   7.884750   9.486037  11.373561  12.170000  13.277778
송파구   4.455567  10.945817  18.103159  20.176462  25.085597  24.688182
양천구   1.420714   7.480595   9.933053  14.859844  19.406429  24.522727
영등포구  1.438370   8.312646  11.646294  17.674884  22.706444  29.688000
용산구   3.077742  12.704533  16.048125  26.548390  23.693286  49.722814
은평구   2.867503   6.800036   8.298199  10.962106   9.981094  12.812500
종로구   2.264765   7.289538  13.321837  14.271667  17.537500  18.151667
중구    2.215113   6.983660  12.034902  14.462500  17.510714  22.305556
중랑구   2.487438   5.636825   7.578161  10.510000  10.523889  20.800000

In [126]:
구평형 = apt_price.pivot_table(
    index="구",
    columns="평형",
    values="거래금액_억원",
    aggfunc=["min","max"]
)
#칼럼 인덱스가 이중이 되었음
구평형

        min                                           max                  \
평형    10평이하   10평대   20평대     30평대   40평대  40평이상    10평이하    10평대    20평대
구
강남구   1.770  2.595  4.151  11.7562  10.60   7.20  10.5000  26.700  43.000
강동구   0.800  1.500  5.000   7.2000  10.50   5.80   4.0500  15.000  20.000
강북구   0.900  1.300  1.500   6.3000   8.00   7.55   1.9000   9.170  11.800
강서구   0.780  1.230  2.300   3.9500  10.00   7.50   4.2000  13.800  17.550
관악구   0.950  2.100  3.300   5.4000  12.20  14.99   3.4500  12.000  14.800
광진구   0.800  3.000  4.450   6.7000   6.50  17.00   2.2050  18.000  21.100
구로구   0.760  1.425  2.100   3.4400   7.00  15.10   2.5900  11.500  16.350
금천구   0.900  1.300  1.700   4.0000   8.98    NaN   3.3400  10.500  14.200
노원구   0.800  2.130  4.200   5.2000   7.98    NaN   4.7200  10.500  14.000
도봉구   0.895  1.600  2.170   5.9900   7.85   4.40   3.3000   8.900  12.000
동대문구  1.000  1.550  3.400   6.7000   8.50   8.30   4.5500  13.520  17.000
동작구   1.100  2.150  3.570   6.9000   8.55  12.50   2.9100  18.100  25.400
마포구   1.140  2.300  4.000   5.5000  10.10   8.82   6.0000  17.000  23.000
서대문구  1.300  1.200  1.800   2.6000   6.00   9.20   6.0000  14.950  18.630
서초구   1.800  2.900  7.000   9.0000  12.50  11.50  11.8000  30.000  46.600
성동구   1.270  3.500  4.300  11.9000  14.70  17.40  10.9500  20.700  38.900
성북구   1.100  1.500  2.800   5.4800  10.30   6.40   2.3000  12.300  16.470
송파구   1.485  2.400  4.440   7.5000   5.68  10.65  12.7500  21.900  32.788
양천구   1.350  1.050  2.200   4.6500   5.83  17.30   1.6500  15.800  21.300
영등포구  0.950  2.000  4.775   9.5000  12.50  17.80   5.0000  16.400  22.000
용산구   1.500  1.830  4.470   5.2000  12.00  14.00   7.1500  30.000  38.000
은평구   0.955  1.850  2.000   3.7500   4.00   7.90   4.6500  11.750  14.500
종로구   0.950  1.850  3.650   7.4700  14.50  13.50   4.6500  17.000  23.000
중구    1.000  0.970  4.700   6.5000  12.00   8.30   5.0169  14.875  18.300
중랑구   0.850  2.380  3.250   4.0000   8.70  20.80   4.1000  10.800  13.850


평형      30평대     40평대   40평이상
구
강남구   50.175  59.0000  145.00
강동구   21.800  20.0000   40.00
강북구   12.650   9.5000    7.55
강서구   20.500  16.8500   17.50
관악구   14.450  14.6000   16.00
광진구   21.400  33.0000   35.00
구로구   18.000  17.1500   18.00
금천구   14.100  13.0000     NaN
노원구   15.900  18.0000     NaN
도봉구   13.150  14.1000   14.50
동대문구  15.800  18.3000   17.00
동작구   30.000  27.0000   43.00
마포구   25.400  26.0000   47.00
서대문구  21.300  17.2500   21.50
서초구   59.000  71.0000   84.00
성동구   28.000  45.9000   88.00
성북구   16.000  14.3500   21.00
송파구   34.000  42.0000   47.30
양천구   25.900  28.0000   34.15
영등포구  27.200  42.5000   55.50
용산구   45.000  50.9998  135.00
은평구   16.510  15.0000   17.65
종로구   26.900  20.0000   24.10
중구    20.500  22.5000   34.70
중랑구   16.200  12.6500   20.80

In [127]:
구평형.columns

MultiIndex([('min',  '10평이하'),
            ('min',   '10평대'),
            ('min',   '20평대'),
            ('min',   '30평대'),
            ('min',  ' 40평대'),
            ('min', ' 40평이상'),
            ('max',  '10평이하'),
            ('max',   '10평대'),
            ('max',   '20평대'),
            ('max',   '30평대'),
            ('max',  ' 40평대'),
            ('max', ' 40평이상')],
           names=[None, '평형'])

In [141]:
# 강남3구의 평형별 평균거래가와 그 외 지역 평형별 평균 거래가 비교
cond = apt_price["구"].isin(["강남구", "송파구", "서초구"])
강남3구 = apt_price[cond]
그외22구 = apt_price[ ~cond ]

#잘 나눠졌는지 확인하기
강남3구["구"].unique() 
# 결과값 array(['강남구', '서초구', '송파구'], dtype=object)
그외22구["구"].unique() 
''' 결과값
array(['강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '성동구', '성북구', '양천구', '영등포구', '용산구',
       '은평구', '종로구', '중구', '중랑구'], dtype=object)
'''

array(['강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '성동구', '성북구', '양천구', '영등포구', '용산구',
       '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [149]:
강남3구_평형_평균 = 강남3구.pivot_table(
    index="평형",
    values="거래금액_억원"
)
강남3구_평형_평균

          거래금액_억원
평형
10평이하    3.864161
10평대    10.457729
20평대    21.866708
30평대    27.275780
 40평대   32.143752
 40평이상  37.189208

In [148]:
그외22구_평형_평균 = 그외22구.pivot_table(
    index="평형",
    values="거래금액_억원"
)
그외22구_평형_평균
# 별로 차이 안나는이유 : 용산구가 포함되어서 (용산구 비쌈)

          거래금액_억원
평형
10평이하    1.954595
10평대     7.361241
20평대    10.094347
30평대    13.371536
 40평대   16.509028
 40평이상  31.755043

In [150]:
pd.concat([강남3구_평형_평균, 그외22구_평형_평균], axis=1)

          거래금액_억원    거래금액_억원
평형
10평이하    3.864161   1.954595
10평대    10.457729   7.361241
20평대    21.866708  10.094347
30평대    27.275780  13.371536
 40평대   32.143752  16.509028
 40평이상  37.189208  31.755043

Q1. 강남3구와 그외22구간의 평형별 평균 매매가와
    평형별 평균 전세금을 가로로 병합 출력하세요

In [152]:
import pandas as pd

apt_price = pd.read_csv(
    "./data/apt_price_2022_1.csv",
    encoding="cp949", #한글문자셋 지정
    skiprows = 15, #앞부분 15줄 설명부분 삭제
    thousands = ",", #숫자사이 ,를 삭제
)

apt_charter = pd.read_csv(
    "./data/아파트(전월세)_실거래가_20220907143204.csv",
    encoding="cp949", #한글문자셋 지정
    skiprows = 15, #앞부분 15줄 설명부분 삭제
    thousands = ",", #숫자사이 ,를 삭제
)

In [153]:
apt_charter

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202109,16,60000,0,9,1988.0,언주로 103,202110~202310,-,-,NaN,NaN
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202109,20,50400,0,1,1988.0,언주로 103,202201~202401,갱신,사용,48000.0,0.0
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202110,20,50400,0,1,1988.0,언주로 103,-,-,-,NaN,NaN
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,64000,0,5,1988.0,언주로 103,202208~202212,갱신,-,61500.0,0.0
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,64000,0,5,1988.0,언주로 103,202208~202408,갱신,사용,61500.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218539,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),월세,58.87,202203,19,10000,85,6,2003.0,동일로144길 74,202203~202403,신규,-,0.0,0.0
218540,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),전세,87.31,202111,5,29400,0,6,2003.0,동일로144길 74,202111~202311,갱신,사용,28000.0,0.0
218541,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),전세,56.38,202202,26,23000,0,4,2003.0,동일로144길 74,202203~202403,갱신,-,20000.0,0.0
218542,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영(104),전세,67.57,202208,11,32500,0,3,2003.0,동일로144길 74,-,-,-,NaN,NaN
218543,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),월세,64.48,202109,23,10000,20,4,2007.0,봉화산로27가길 19,202109~202309,-,-,NaN,NaN

In [172]:
monthly = apt_charter[apt_charter["전월세구분"] == '월세']

monthly_amount = monthly["월세(만원)"]

deposit = apt_charter["보증금(만원)"]

In [167]:
len(apt_charter)

218544

In [201]:
apt_rent = pd.read_csv('./data/아파트(전월세)_실거래가_20220907143204.csv', encoding='cp949', skiprows=15, thousands=',')
apt_rent['전세금_억원'] = (apt_rent['보증금(만원)'] + (apt_rent['월세(만원)'] * 12 )/ 0.0475) / 10000
apt_rent['구'] = apt_rent['시군구'].str.split().str[1]
apt_rent['동'] = apt_rent['시군구'].str.split().str[2]
apt_rent['평형'] = pd.cut(round(apt_rent['전용면적(㎡)']/3.03, 2), bins=[0,10,20,30,40,50,500], labels = '10평미만,10평대,20평대,30평대,40평대,50평이상'.split(','), right=False)
cond = apt_rent['구'].isin(['강남구','송파구','서초구'])
강남3구_전세 = apt_rent[cond]
그외22구_전세 = apt_rent[~cond]
강남3구_평형_평균_전세 = 강남3구_전세.pivot_table(index = "평형", values= "전세금_억원")
그외22구_평형_평균_전세 = 그외22구_전세.pivot_table(index = "평형", values= "전세금_억원")
pd.concat([강남3구_평형_평균_전세,그외22구_평형_평균_전세], axis = 1)

          전세금_억원     전세금_억원
평형
10평미만   2.725153   1.573589
10평대    4.570578   3.151932
20평대    8.384859   5.342523
30평대   10.715591   6.919838
40평대   13.172778   8.803671
50평이상  18.136375  13.605570